.navbar-brand img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.search-container {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.cart-button {
  position: relative;
  background: none;
  border: none;
  padding: 0.5rem;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}
.navbar-toggler{
  margin-bottom: 10px;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}




